<div class="center">
    <!-- LOGO -->
    <div id="logo">
        <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo" />
        <span id="brand">
            <strong>Curso</strong>Angular
        </span>
    </div>
    
    <!-- MENU -->
    <nav id="menu">
        <ul>
            <li><a [routerLink]="['/home']" href="index.html" [routerLinkActive]="['active']">Inicio</a></li>
            <li><a [routerLink]="['/blog']" href="blog.html" [routerLinkActive]="['active']">Blog</a></li>
            <li><a [routerLink]="['/create']" href="formulario.html" [routerLinkActive]="['active']">Crear Pelicula</a></li>
            <!-- <li><a [routerLink]="['/ramdom']" href="#" [routerLinkActive]="['active']">Pagina de prueba</a></li> -->                            
        </ul>
    </nav>

    <!--LIMPIAR FLOTADOS-->
    <div class="clearfix"></div>
</div>